@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  background-color: #FFFEF8;
  scroll-behavior: smooth;
  z-index: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3D3D3D;
  color: #3D3D3D;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main {
  width: 100%;
  max-width: 1140px;
  margin: auto;
}

section {
  margin: 50px 0;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

header {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
header a {
  text-decoration: none;
}
header nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1em;
}
header nav .nav_link {
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.2em;
  color: #000;
  text-align: center;
}
header nav .nav_link:hover {
  text-decoration: none;
  color: #b1663c;
}
header nav .nav_link--active {
  font-weight: 600;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

footer {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
}
footer nav {
  width: 100%;
  max-width: 1140px;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2em;
  color: black;
}

.btn, .btn-outline {
  height: 37px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 60px;
  text-align: center;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-outline {
  border: 1px solid #1d6154;
  background-color: white;
  color: #1d6154;
}
.btn-outline:hover {
  color: white;
  background: #1d6154;
}
.btn-outline-active {
  color: white;
  background: #1d6154;
}

.btn-lg {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
.btn-lg[disabled] {
  background-color: #A7A7A7;
}

.modal {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);
}
.modal-wrapper {
  max-width: 630px;
  max-height: 688px;
  width: 100%;
  height: 100%;
  min-width: 315px;
  min-height: 344px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.modal-wrapper_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-wrapper_nav {
  box-sizing: border-box;
  margin: 26px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
}
.modal-wrapper_nav--space-between {
  justify-content: space-between;
}
.modal-wrapper_title {
  text-align: center;
  color: #000;
  font-size: 26px;
}
.modal-wrapper .modal-wrapper_body {
  box-sizing: border-box;
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
}
.modal-wrapper #messErr {
  color: #d54242;
  text-align: center;
  font-weight: 700;
}
.modal-wrapper_footer {
  margin-left: 15%;
  margin-right: 15%;
  border-top: 1px solid #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper_footer button {
  appearance: none;
  border: none;
  box-sizing: border-box;
  padding: 0.5em 1.5em 0.5em 1.5em;
  width: auto;
}

#modal-galeriePhoto .gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
#modal-galeriePhoto .gallery_figure {
  position: relative;
}
#modal-galeriePhoto .gallery_figure img {
  width: 100%;
  object-fit: cover;
}
#modal-galeriePhoto .gallery_figure i {
  width: 17px;
  height: 17px;
  font-size: 9px;
  position: absolute;
  top: 6px;
  right: 5px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

#modal-addwork .addWork_body {
  flex-direction: column;
  gap: 30px;
}
#modal-addwork .addWork_body .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  color: #3D3D3D;
  font-weight: 500;
}
#modal-addwork .addWork_body .dragandDrop {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 169px;
  max-height: 220px;
  border-radius: 3px;
  padding: 1em 0 1em 0;
  overflow: hidden;
  background-color: #E8F1F6;
}
#modal-addwork .addWork_body .dragandDrop i {
  color: #b9c5cc;
  font-size: 76px;
  margin-bottom: 0.2em;
}
#modal-addwork .addWork_body .dragandDrop img {
  box-sizing: border-box;
  width: min-content;
  height: 100%;
  width: auto;
  object-fit: scale-down;
}
#modal-addwork .addWork_body .btn_fileType {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #306685;
  text-align: center;
  font-weight: 500;
  border-radius: 50px;
  background: #cbd6dc;
  width: 173px;
  height: 36px;
}
#modal-addwork .addWork_body input,
#modal-addwork .addWork_body select {
  outline: none;
  border: none;
  padding: 0;
  width: 100%;
  height: 51px;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
#modal-addwork .addWork_body #divErr {
  color: #d54242;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}
#modal-addwork .addWork_body span {
  color: #444;
  text-align: center;
  font-size: 10px;
}

.edit_mode {
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: black;
  color: white;
}
.edit_mode::after {
  content: "Édite mode";
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  position: relative;
}
#portfolio .portfolio_btn-editmode {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 3em;
  color: #3D3D3D;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
#portfolio .gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
#portfolio .gallery img {
  width: 100%;
}
#portfolio #filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 45px;
  margin-top: 45px;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

/*# sourceMappingURL=style.css.map */
