@use '../abstracts/variables' as var ; 
html{
  background-color : var.$bg-color ; 
  scroll-behavior: smooth;
}

body {
 display: flex;
 flex-direction: column;
 align-items: center;
	font-family: "Work Sans";
	font-size: 14px;
	
}

main{
  width: 100%;
   max-width: 1140px;
   margin: auto;
}

section {
  margin: 50px 0;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: var.$secondary-color;
}
